.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #FFF;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;// grow = 0 ; shrink = 0; basis = 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hotel-view {
  background-color: red;
  height: 80rem;
  flex: 1; // grow = 1 ; grow max than he can;
}

